<div class ="welcome-header">
  <h1>Welcome to TinyApp!</h1>
  <h3>Your compact app for compact URLs</h3>
</div>


<div class = "form">

  <% if (user === undefined) { %> 
    <a href="/login">Login First!</a>
    <a href="/register">Register Here!</a>
  <% } else { %>
    <label for="login">Hey! Welcome <%= user.email %>.</label> 
    <form method="POST" action="/urls/logout">
      <button type=submit>logout</button>
    </form>
  <% } %>

</div>



 <!-- add to template Vars space, the user to template vars. Add to TEPLATE VARS -->
 <!-- <form method=POST action="/login">
  <label for="username">Please Login</label>
  <input name="username" type="text" placeholder="username"/>
  <input type="submit" value="SUBMIT">
</form> -->