<div class ="welcome-header">
  <h1>Welcome to TinyApp!</h1>
  <h3>Your compact app for compact URLs</h3>
</div>


<div class = "form">

  <% if (user === undefined) { %> 
    <a href="/login">Login First!</a> <span> |  | </span>
    <a href="/register">Register Here!</a>
  <% } else { %>
    <label for="login">Hey! Welcome <%= user.email %>.</label> 
    <form method="POST" action="/urls/logout">
      <button type=submit>Logout</button>
    </form>
  <% } %>

</div>
