<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

      <h1>Urls</h1>
        <p>Your shortened URL is: <%= shortURLKey %></p>
        <p>Your original URL is: <%= longURL %></p>
    <div></div>

    <h2>UPDATE YOUR LINK</h2>

    <form method="POST" action="/urls/<%= shortURLKey %>/update">
      <label for="longURL">Long URL</label>
      <input type="text" name="longURL"/>
      <input type="submit" value="UPDATE">
    </form>

    <a href = "/urls">Shorten A New Link Here!</a>

    <p>&copy; 2017 - Melody Dante and the Mobverse</p>
  </body>
</html>
