<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TinyApp</title>
  </head>

  <body>
    <header>
      <% include partials/_header %>
    </header>
    <ul>
      <div class = "url-table">
        <% for(var url in urls) { %>             
          <li>
            <form method="POST" action="/urls/<%= url %>/delete">
               <p><%= url %> - <%= urls[url].longURL %> </p>
               <a href="/urls/<%= url %>">Update</a>
              <input type="submit" value="DELETE"> 
            </form>
          </li>
        <% }; %>
      </ul>
    </div>

    <a href = "/urls/new">Shorten A New Link Here!</a>
    <% include partials/_footer %>      
  </body>
</html>