<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>

    <div class = "url-table">
      <table>
        <% for(var url in urls) { %>             
        <tr>
            <td><%= url %></td>
            <td><%= urls[url] %></td>
        </tr>
        <% }; %>
      </table>
    </div>
    <a href = "/shorten">Shorten Your Link Here!</a>

    <p>&copy; 2017 - Melody Dante and the Mobverse</p>
  </body>
</html>