<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tiny App</title>
</head>
<body>

  
  <% if (user === undefined) { %>
    <div class ="welcome-header">
      <h1>Welcome to TinyApp!</h1>
      <h3>Your compact app for compact URLs</h3>
    </div>
  <div class = "form">
    <form method=POST action="/login">
      <label for="email">Email</label>
      <input name="email" type="text" placeholder="email"/>
      <label for = "password">Choose A Password:</label>
      <input name = "password" type = "password" placeholder = "password">
      <input type="submit" value="SUBMIT">
    </form>
    <button onclick="location.href='/register'" type="button" class="button-register">
      Or Register Here</button>  
  <% } else { %>
    <% include partials/_header %>    
  <% } %>
  
  </div>
</body>
</html>