<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <% include ./partials/_header %>
    </header>
    <ul>
      <div class = "url-table">
        <% for(var url in urls) { %>             
          <li>
            <form method="POST" action="/urls/<%= url %>/delete">
               <%= url %> - <%= urls[url] %>
              <input type="submit" value="DELETE"> 
            </form> 
          </li>
        <% }; %>
      </ul>
    </div>
    <a href = "/urls/new">Shorten Your Link Here!</a>

    <p>&copy; 2017 - Melody Dante and the Mobverse</p>
  </body>
</html>